<form xmlns:filter="http://www.w3.org/1999/xhtml" xmlns:filter="http://www.w3.org/1999/xhtml">
  <label>Nom</label> : <input type="text" name="nom" ng-model="SearchedUsers.name"/>
  <label>Prénom</label> : <input type="text" name="prenom" ng-model="SearchedUsers.surname" />
  <label>Identifiant</label> : <input type="number" name="id" ng-model="SearchedUsers.id"/>
</form>

<div>
<h3>Liste des utilisateurs:</h3>
<ul>
<li ng-repeat="user in users | filter: SearchedUsers">
  <a href="" ng-click="myJsFunc('{{user.id}}')"> {{user.name}}, {{user.surname}}</a>
</li>
</ul>
</div>
