<div ng-init="roleToFind.ProjectId=currentProject.id">
 <h3>{{currentProject.title}}</h3>
  <p>Projet n° {{currentProject.id}}</p>
  <p>Année {{currentProject.year}}</p>
  <p>Description: </p>
  <p>{{currentProject.description}}</p>
  <p>Elèves ayant participé à ce projet:</p>
  <ul>
    <li ng-repeat="user in currentProjectUsers"  ng-init="roleToFind.UserId=user.id">
      {{user.name}} {{user.surname}}
      <li ng-repeat="role in roles | filter:roleToFind " >
      ({{role.name}})
      </li>
    </li>
  </ul>
</div>

 <p><a href="#/changeProject/{{currentProject.id}}">>Modifier des informations sur le projet</a></p>
 <p><a href="#/removeProject/{{currentProject.id}}">>Supprimer ce projet</a></p>
 <p><a href="#/changeUserProject/{{currentProject.id}}">>Modifier les élèves ayant participé à ce projet</a></p>




